<!DOCTYPE html>
<html>
  <head>
    <title>Web Note</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script-->
    <script src="/javascripts/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery-3.7.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <div id="editor"></div>
    <script type="text/javascript" charset="utf-8">
      var info = { 
        'id': '',
        'name': '<%= name %>',
        'format': '<%= format %>'
      };

    </script>
    <script src="/javascripts/support_extension.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/client.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
